In [1]:
import os
# Find the latest version of spark 3.x  from http://www.apache.org/dist/spark/ and enter as the spark version
# For example:
# spark_version = 'spark-3.5.1'
spark_version = 'spark-3.5.1'
os.environ['SPARK_VERSION']=spark_version

# Install Spark and Java
!apt-get update
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q http://www.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop3.tgz
!tar xf $SPARK_VERSION-bin-hadoop3.tgz
!pip install -q findspark

# Set Environment Variables
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop3"

# Start a SparkSession
import findspark
findspark.init()

Get:1 http://security.ubuntu.com/ubuntu jammy-security InRelease [110 kB]
Get:2 https://cloud.r-project.org/bin/linux/ubuntu jammy-cran40/ InRelease [3,626 B]
Hit:3 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  InRelease
Hit:4 http://archive.ubuntu.com/ubuntu jammy InRelease
Get:5 http://archive.ubuntu.com/ubuntu jammy-updates InRelease [119 kB]
Hit:6 http://archive.ubuntu.com/ubuntu jammy-backports InRelease
Hit:7 https://ppa.launchpadcontent.net/c2d4u.team/c2d4u4.0+/ubuntu jammy InRelease
Hit:8 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy InRelease
Get:9 https://ppa.launchpadcontent.net/graphics-drivers/ppa/ubuntu jammy InRelease [24.3 kB]
Hit:10 https://ppa.launchpadcontent.net/ubuntugis/ppa/ubuntu jammy InRelease
Get:11 http://security.ubuntu.com/ubuntu jammy-security/main amd64 Packages [1,517 kB]
Get:12 http://security.ubuntu.com/ubuntu jammy-security/restricted amd64 Packages [1,889 kB]
Get:13 http://security.ubuntu.com/ubuntu jammy-security/universe amd64 Packages [1,074 kB]
Get:14 http://security.ubuntu.com/ubuntu jammy-security/multiverse amd64 Packages [44.6 kB]
Get:15 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 Packages [1,796 kB]
Get:16 http://archive.ubuntu.com/ubuntu jammy-updates/restricted amd64 Packages [1,927 kB]
Get:17 http://archive.ubuntu.com/ubuntu jammy-updates/universe amd64 Packages [1,346 kB]
Get:18 https://ppa.launchpadcontent.net/graphics-drivers/ppa/ubuntu jammy/main amd64 Packages [44.7 kB]
Fetched 9,897 kB in 3s (3,313 kB/s)
Reading package lists... Done

In [2]:
# Import packages
from pyspark.sql import SparkSession
import time

# Create a SparkSession
spark = SparkSession.builder.appName("SparkSQL").getOrCreate()

In [3]:
# 1. Read in the AWS S3 bucket into a DataFrame.
from pyspark import SparkFiles
url = "https://2u-data-curriculum-team.s3.amazonaws.com/dataviz-classroom/v1.2/22-big-data/home_sales_revised.csv"
spark.sparkContext.addFile(url)
home_sales_df = spark.read.csv(SparkFiles.get("home_sales_revised.csv"), sep=",", header=True)
home_sales_df.show(5)

+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+
|                  id|      date|date_built| price|bedrooms|bathrooms|sqft_living|sqft_lot|floors|waterfront|view|
+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+
|f8a53099-ba1c-47d...|2022-04-08|      2016|936923|       4|        3|       3167|   11733|     2|         1|  76|
|7530a2d8-1ae3-451...|2021-06-13|      2013|379628|       2|        2|       2235|   14384|     1|         0|  23|
|43de979c-0bf0-4c9...|2019-04-12|      2014|417866|       2|        2|       2127|   10575|     2|         0|   0|
|b672c137-b88c-48b...|2019-10-16|      2016|239895|       2|        2|       1631|   11149|     2|         0|   0|
|e0726d4d-d595-407...|2022-01-08|      2017|424418|       3|        2|       2249|   13878|     2|         0|   4|
+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+
only showing top 5 rows

In [4]:
# 2. Create a temporary view of the DataFrame.
home_sales_df.createOrReplaceTempView('home_sales')

In [5]:
# 3. What is the average price for a four bedroom house sold per year, rounded to two decimal places?
spark.sql("""
SELECT YEAR(date) AS Year_Sold, ROUND(AVG(price), 2) AS Average_Price
FROM home_sales
WHERE bedrooms=4
GROUP BY Year(date)""").show()

+---------+-------------+
|Year_Sold|Average_Price|
+---------+-------------+
|     2022|    296363.88|
|     2019|     300263.7|
|     2020|    298353.78|
|     2021|    301819.44|
+---------+-------------+

In [6]:
# 4. What is the average price of a home for each year the home was built,
# that have 3 bedrooms and 3 bathrooms, rounded to two decimal places?
spark.sql("""
SELECT date_built AS Year_Built, ROUND(AVG(price), 2) As Average_Price
FROM home_sales
WHERE bedrooms=3 AND bathrooms=3
GROUP BY date_built""").show()

+----------+-------------+
|Year_Built|Average_Price|
+----------+-------------+
|      2016|    290555.07|
|      2012|    293683.19|
|      2017|    292676.79|
|      2014|    290852.27|
|      2013|    295962.27|
|      2011|    291117.47|
|      2015|     288770.3|
|      2010|    292859.62|
+----------+-------------+

In [7]:
# 5. What is the average price of a home for each year the home was built,
# that have 3 bedrooms, 3 bathrooms, with two floors,
# and are greater than or equal to 2,000 square feet, rounded to two decimal places?
spark.sql("""
SELECT date_built as Year_Built, ROUND(AVG(price), 2) AS Average_Price
FROM home_sales
WHERE bedrooms=3 AND bathrooms=3 AND floors=2 AND sqft_living>=2000
GROUP BY date_built""").show()

+----------+-------------+
|Year_Built|Average_Price|
+----------+-------------+
|      2016|     293965.1|
|      2012|    307539.97|
|      2017|    280317.58|
|      2014|    298264.72|
|      2013|    303676.79|
|      2011|    276553.81|
|      2015|    297609.97|
|      2010|    285010.22|
+----------+-------------+

In [9]:
# 6. What is the average price of a home per "view" rating, rounded to two decimal places,
# having an average home price greater than or equal to $350,000? Order by descending view rating.
# Although this is a small dataset, determine the run time for this query.

start_time = time.time()

spark.sql("""
SELECT view AS View_Rating, ROUND(AVG(price), 2) AS Average_Price
FROM home_sales
GROUP BY view
HAVING Average_Price>=350000
ORDER BY Average_Price DESC
""").show()


print("--- %s seconds ---" % (time.time() - start_time))

+-----------+-------------+
|View_Rating|Average_Price|
+-----------+-------------+
|         91|   1137372.73|
|         97|   1129040.15|
|         84|   1117233.13|
|         75|   1114042.94|
|         89|   1107839.15|
|         78|   1080649.37|
|         77|   1076205.56|
|         87|    1072285.2|
|         86|   1070444.25|
|         82|    1063498.0|
|         90|   1062654.16|
|         99|   1061201.42|
|         76|   1058802.78|
|         85|   1056336.74|
|         95|    1054325.6|
|         98|   1053739.33|
|         81|   1053472.79|
|         83|   1033965.93|
|         94|    1033536.2|
|         88|   1031719.35|
+-----------+-------------+
only showing top 20 rows

--- 0.780226469039917 seconds ---

In [10]:
# 7. Cache the the temporary table home_sales.
spark.sql("cache table home_sales")

DataFrame[]

In [11]:
# 8. Check if the table is cached.
spark.catalog.isCached('home_sales')

True

In [13]:
# 9. Using the cached data, run the last query above, that calculates
# the average price of a home per "view" rating, rounded to two decimal places,
# having an average home price greater than or equal to $350,000.
# Determine the runtime and compare it to the uncached runtime.

start_time = time.time()

spark.sql("""
SELECT view AS View_Rating, ROUND(AVG(price), 2) AS Average_Price
FROM home_sales
GROUP BY view
HAVING Average_Price>=350000
ORDER BY Average_Price DESC
""").show()

print("--- %s seconds ---" % (time.time() - start_time))

+-----------+-------------+
|View_Rating|Average_Price|
+-----------+-------------+
|         91|   1137372.73|
|         97|   1129040.15|
|         84|   1117233.13|
|         75|   1114042.94|
|         89|   1107839.15|
|         78|   1080649.37|
|         77|   1076205.56|
|         87|    1072285.2|
|         86|   1070444.25|
|         82|    1063498.0|
|         90|   1062654.16|
|         99|   1061201.42|
|         76|   1058802.78|
|         85|   1056336.74|
|         95|    1054325.6|
|         98|   1053739.33|
|         81|   1053472.79|
|         83|   1033965.93|
|         94|    1033536.2|
|         88|   1031719.35|
+-----------+-------------+
only showing top 20 rows

--- 0.5555014610290527 seconds ---

In [14]:
# 10. Partition by the "date_built" field on the formatted parquet home sales data
home_sales_df.write.partitionBy("date_built").mode("overwrite").parquet("p_home_sales")

In [15]:
# 11. Read the parquet formatted data.
p_home_sales_df=spark.read.parquet('p_home_sales')

In [16]:
# 12. Create a temporary table for the parquet data.
p_home_sales_df.createOrReplaceTempView('p_home_sales')

In [18]:
# 13. Using the parquet DataFrame, run the last query above, that calculates
# the average price of a home per "view" rating, rounded to two decimal places,
# having an average home price greater than or equal to $350,000.
# Determine the runtime and compare it to the cached runtime.

start_time = time.time()

spark.sql("""
SELECT view AS View_Rating, ROUND(AVG(price), 2) AS Average_Price
FROM p_home_sales
GROUP BY view
HAVING Average_Price>=350000
ORDER BY Average_Price DESC
""").show()

print("--- %s seconds ---" % (time.time() - start_time))

+-----------+-------------+
|View_Rating|Average_Price|
+-----------+-------------+
|         91|   1137372.73|
|         97|   1129040.15|
|         84|   1117233.13|
|         75|   1114042.94|
|         89|   1107839.15|
|         78|   1080649.37|
|         77|   1076205.56|
|         87|    1072285.2|
|         86|   1070444.25|
|         82|    1063498.0|
|         90|   1062654.16|
|         99|   1061201.42|
|         76|   1058802.78|
|         85|   1056336.74|
|         95|    1054325.6|
|         98|   1053739.33|
|         81|   1053472.79|
|         83|   1033965.93|
|         94|    1033536.2|
|         88|   1031719.35|
+-----------+-------------+
only showing top 20 rows

--- 0.7425377368927002 seconds ---

In [19]:
# 14. Uncache the home_sales temporary table.
spark.sql("uncache table home_sales")

DataFrame[]

In [20]:
# 15. Check if the home_sales is no longer cached
spark.catalog.isCached('home_sales')

False